*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Comic Neue', cursive;
 
}
.container{
  width: 600px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ecf0f1;
  margin-top: 40px;
  box-shadow: 1px 1px 4px 4px #bdc3c7;
}
.container:hover{
  box-shadow: 1px 1px 6px 6px #bdc3c7;
  cursor: pointer;

}
@media (min-width: 300px) and (max-width: 700px) {
  .container{
    width: 255px;
    height: 464px;
    margin-left: 52px;
    margin-top: 85px;
  }
}
